# downloaded snakemake related files
.snakemake/
.vscode/
bin/.snakemake/
*/.snakemake/
*/*/.snakemake/
*/*/*/.snakemake/
bin/__pycache__

# demo related output file
## long_pe_example
demo/*/data/
demo/*/genome/
demo/*/temp/
demo/*/output/
demo/*/summary/
